<div class="card container p-3 mt-3" id="quizzes-card-staff">
  <h5 id="title">List of Available Quizzes</h5>
  <div class="row">
    <!-- Iterate through the list of available quizzes with the "Live" (LV) tag -->
    <% quizzes.forEach(function(quiz) { %>
    <div class="col-md-12">
      <button class="rounded-pill quiz"><%= quiz.title %></button>
    </div>
    <% }); %>
  </div>
</div>
