/* ============
   GLOBAL STYLES
   ============ */
/* Background color for the entire body */
body {
  background-color: rgb(35, 35, 35);
}

/* Dark tables */
.table-dark {
  background-color: rgb(35, 35, 35);
}

/* List styles */
li {
  list-style-type: none;
}

/* ============
   PROFILE CARD
   ============ */
/* Profile card with gradient background and white border */
#profile-card,
#statistics-card,
#quizzes-card-staff {
  background-image: linear-gradient(to bottom, #101761, #71073e);
  border: white 1px solid;
  color: white;
}

/* ============
   BADGES
   ============ */
/* Border for badge display row */
#badge-display {
  border-radius: 5px;
  border: white 1px solid;
}
/* ============
   LAYOUT ADJUSTMENTS
   ============ */
/* Margin and padding adjustments for rows and cols */
.col,
.row {
  padding: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* ============
   QUIZ BUTTONS
   ============ */
.quiz-button {
  color: white;
  border: white 1px solid;
  transform: background-color 1s ease;
}

.quiz-button:hover {
  border-color: rgb(187, 7, 7);
  background-color: rgb(31, 1, 1);
}

/* ============
   MISC ELEMENTS
   ============ */
.join-session {
  margin-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.4em;
}
/* Scoreboard tabs */
.scoreboard,
.scoreboard:hover {
  color: white;
}

.nav-tabs {
  flex-wrap: nowrap;
}

.table-responsive {
  overflow-y: scroll;
  height: 100vh;
  animation: tableIntro 0.3s ease;
}

@keyframes tableIntro {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* ============
   MEDIA QUERIES
   ============ */
