/* ============
   GLOBAL STYLES
   ============ */
/* Background color for the entire body */
body {
  background-color: rgb(35, 35, 35);
}

/* Dark tables */
.table-dark {
  background-color: rgb(35, 35, 35);
}

/* List styles */
li {
  list-style-type: none;
}

/* ============
   PROFILE CARD
   ============ */
/* Profile card with gradient background and white border */
#profile-card,
#statistics-card,
#quizzes-card-staff {
  background-image: linear-gradient(to bottom, #101761, #71073e);
  border: white 1px solid;
  color: white;
}

/* ============
   BADGES
   ============ */
/* Border for badge display row */
#badge-display {
  border-radius: 5px;
  border: white 1px solid;
}
/* ============
   LAYOUT ADJUSTMENTS
   ============ */
/* Margin and padding adjustments for rows and cols */
.col,
.row {
  padding: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* ============
   QUIZ BUTTONS
   ============ */
.quiz-button {
  color: white;
  border: white 1px solid;
  transform: background-color 1s ease;
}
.quiz-button:hover {
  color: whitesmoke;
  border-color: rgb(187, 7, 7);
  background-color: rgb(31, 1, 1);
}
.live-quiz {
  border-color: rgb(31, 1, 1);
  background-color: rgb(187, 7, 7);
}
/* ============
   MISC ELEMENTS
   ============ */
#scoreboards-and-tabs {
  background-color: rgb(35, 35, 35);
}

/* Scoreboard tabs */
.scoreboard,
.scoreboard:hover {
  color: white;
}

.nav-tabs {
  flex-wrap: nowrap;
}

#live-scoreboard,
#seasonal-scoreboard,
#all-time-scoreboard {
  overflow-y: scroll;
  height: 100vh;
  animation: tableIntro 0.3s ease;
  scrollbar-width: thin; /* This is for Firefox */
  scrollbar-color: black transparent; /* Also for Firefox */
}

#live-scoreboard::-webkit-scrollbar,
#seasonal-scoreboard::-webkit-scrollbar,
#all-time-scoreboard::-webkit-scrollbar {
  width: 3px;
}

#live-scoreboard::-webkit-scrollbar-thumb,
#seasonal-scoreboard::-webkit-scrollbar-thumb,
#all-time-scoreboard::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

#live-scoreboard::-webkit-scrollbar-track,
#seasonal-scoreboard::-webkit-scrollbar-track,
#all-time-scoreboard::-webkit-scrollbar-track {
  background: transparent;
}

@keyframes tableIntro {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* ===============
   LIVE SCOREBOARD
   =============== */
.gold-rank {
    background: radial-gradient(circle, rgb(185, 168, 71) 20%, transparent 100%);
  }

  /* Color gradient for silver rank */
  .silver-rank {
    background: radial-gradient(circle, rgb(134, 128, 128) 20%, transparent 100%);
  }

  /* Color gradient for bronze rank */
  .bronze-rank {
    background: radial-gradient(circle, #684421 20%, transparent 100%);
  }

  /* Add white bg for current user */

  .current-user-cell
  {
    background: rgb(119, 116, 116); 
  }

/* The toast for score updates...
position it at the bottom and in the middle of the screen */
#toast {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the toast */
  top: 30px; /* 30px from the top */
}

/* Show the toast when clicking on a button (class added with JavaScript) */
#toast.show {
  visibility: visible; /* Show the toast */
  /* Add animation: Take 0.5 seconds to fade in and out the toast.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the toast in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}